<nav>
  <ul class="nav_list">
    <li>
      <a class="nav_link" href="#about">About</a>
    </li>
    <li>
      <a class="nav_link" href="#experience">Experience</a>
    </li>
    <li>
      <a class="nav_link" href="#projects">Projects</a>
    </li>
  </ul>
</nav>

<style>
  .nav_list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .nav_link {
    display: inline-block;
  }
</style>
